<h1 *ngIf="event">{{event.title}}</h1>
<div *ngIf="children.length">
    <h3>Children</h3>
    <ul class="list-group">
        <li *ngFor="let child of children; trackBy: trackId" class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" (click)="select(child.id)">
                </span>
            </div>
            <div class="input-group-text input-group-addon">{{child.firstName}} {{child.birthYear}}</div>
        </li>
    </ul>
    <button type="button" class="btn btn-info" (click)="signInSelected()">Zapisz zaznaczonych</button>
</div>
<h1>Participants</h1>
<div class="table-responsive" *ngIf="participants.length">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="30px">#</th>
                <th width="30%">Participant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let participant of participants; let i=index; trackBy: trackId">
                <td>{{i+1}}</td>
                <td>{{participant.personId}} [{{participant.signedDate | date}}]</td>
                <td>
                    <button class="btn btn-danger btn-sm" *ngIf="participant.canRemove"
                            type="submit"
                            [routerLink]="['/', { outlets: { popup: 'participant-sm-event/'+ participant.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge">
                        <span class="fa fa-remove "></span>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


