
<div *ngIf="person">
    <h2><span jhiTranslate="smEventsApp.child.detail.title">Person</span> {{person.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt>
            <span jhiTranslate="smEventsApp.person.firstName">First Name</span>
            <span jhiTranslate="smEventsApp.person.lastName">Last Name</span>
            <span>:</span>
        </dt>
        <dd>
            <span>{{person.firstName}}</span>
            <span>{{person.lastName}}</span>
        </dd>
        <dt>
            <span jhiTranslate="smEventsApp.person.sex">Sex</span>
            <span>:</span>
        </dt>
        <dd>
            <span jhiTranslate="{{'smEventsApp.Sex.' + person.sex}}">{{person.sex}}</span>
        </dd>
        <dt>
            <span jhiTranslate="smEventsApp.person.tShirtSize">T Shirt Size</span>
            <span>:</span>
        </dt>
        <dd>
            <span jhiTranslate="{{'smEventsApp.TShirtSize.' + person.tShirtSize}}">{{person.tShirtSize}}</span>
        </dd>
        <dt>
            <span jhiTranslate="smEventsApp.person.birthYear">Birth Year</span>
            <span>:</span>
        </dt>
        <dd>
            <span>{{person.birthYear}}</span>
        </dd>
        <dt *ngIf="person.info">
            <span jhiTranslate="smEventsApp.person.info">Info</span>
            <span>:</span>
        </dt>
        <dd>
            <span>{{person.info}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'child-sm-event/'+ person.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
