<div>
    <h2>
        <span jhiTranslate="smEventsApp.child.home.title">People</span>
        <button class="btn btn-primary float-right jh-create-entity create-child-sm-event" [routerLink]="['/', { outlets: { popup: ['child-sm-event-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="smEventsApp.child.home.createLabel">
            Create new Person
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="people">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th class="d-md-none">
                    <span jhiTranslate="smEventsApp.person.firstName">First Name</span>
                    <span jhiTranslate="smEventsApp.person.lastName">Last Name</span>
                </th>
                <th class="d-none d-md-table-cell"><span jhiTranslate="smEventsApp.person.firstName">First Name</span> </th>
                <th class="d-none d-md-table-cell"><span jhiTranslate="smEventsApp.person.lastName">Last Name</span> </th>
                <th class="d-none d-md-table-cell"><span jhiTranslate="smEventsApp.person.sex">Sex</span> </th>
                <th class="d-none d-md-table-cell"><span jhiTranslate="smEventsApp.person.tShirtSize">T Shirt Size</span> </th>
                <th class="d-none d-md-table-cell"><span jhiTranslate="smEventsApp.person.birthYear">Birth Year</span> </th>
                <th class="d-none d-md-table-cell"><span jhiTranslate="smEventsApp.person.info">Info</span> </th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let person of people ;trackBy: trackId">
                <td class="d-md-none">
                    <a [routerLink]="['../child-sm-event', person.id ]">{{person.firstName}} {{person.lastName}}</a>
                </td>
                <td class="d-none d-md-table-cell"><a [routerLink]="['../child-sm-event', person.id ]">{{person.firstName}}</a></td>
                <td class="d-none d-md-table-cell">{{person.lastName}}</td>
                <td class="d-none d-md-table-cell" jhiTranslate="{{'smEventsApp.Sex.' + person.sex}}">{{person.sex}}</td>
                <td class="d-none d-md-table-cell" jhiTranslate="{{'smEventsApp.TShirtSize.' + person.tShirtSize}}">{{person.tShirtSize}}</td>
                <td class="d-none d-md-table-cell">{{person.birthYear}}</td>
                <td class="d-none d-md-table-cell">{{person.info}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../child-sm-event', person.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'child-sm-event/'+ person.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'child-sm-event/'+ person.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
