<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="table-responsive" *ngIf="events">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                        <th jhiSortBy="title"><span jhiTranslate="smEventsApp.event.title">Title</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="startDate"><span jhiTranslate="smEventsApp.event.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="endDate"><span jhiTranslate="smEventsApp.event.endDate">End Date</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="location"><span jhiTranslate="smEventsApp.event.location">Location</span> <span class="fa fa-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                    <tr *ngFor="let event of events ;trackBy: trackId">
                        <td>{{event.title}}</td>
                        <td>{{event.startDate | date: format: 'dd-MM-yyyy'}}</td>
                        <td>{{event.endDate | date: format: 'dd-MM-yyyy'}}</td>
                        <td>{{event.location}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['../event-sm-event', event.id, 'signing' ]"
                                        class="btn btn-info btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="smEventsApp.event.signing">View</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

    </div>
</div>
